.navigation {
    width: 90% !important;
    position: fixed !important;
    top: 1% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    
}

.nav-paper {
    /*
    apply a gradient to the navigation bar
    */
    width: 100% !important;
    display: flex !important;
    justify-content: flex-start !important;

}

.nav-buttons {
}